body {
    overflow:hidden;
}
.navbar {
    position: absolute;
    width: 1920px;
    height: 92px;
    left: 0px;
    top: 0px;
    background-image: linear-gradient( 109.6deg,  rgba(245,56,56,1) 11.2%, rgba(234,192,117,1) 78% );
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px rgba(226, 192, 0, 0.151);
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-links {
    float: right;
}
.navbar-links ul {
    margin: 100;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.background {
    background: url(images/chicken.jpg) no-repeat center center fixed; 
    opacity: .7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 1920px;
    height: 100vh;
    left: 0px;
    top: 92px;
} 

.hero h1 {
opacity: 1;
position: absolute;
width: 1920px;
left: 40px;
top: 200px;

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 125px;
text-align: center;
/* identical to box height */

color: white;
-webkit-text-stroke: 10px black;
}



.exploremenu {
position: relative;
display: inline-block;
left: 50%;
top: 400px;
transform: translateX(-50%);
background: #FF6B00;
border-radius: 1000px;
border-color: white;
padding: 10px 29px;
}

.exploremenu h1 {
    color: white;
}

.aboutus {
    background: url(images/aboutus.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 1920px;
    height: 100vh;
    left: 0px;
    top: 92px;
}

h2 {
opacity: 1;
position: relative;
width: 1920px;
top: 100px;
text-transform: uppercase;

color: rgb(212, 132, 13);
-webkit-text-stroke: 2px rgba(230, 119, 16, 0.411);

font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 125px;
text-align: center;
font-weight: bold;
}

.info
{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    color: white;
    top: -100px;
}

.info .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 10px);
    background: #47a386;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d8830573, #e75805);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec8e00, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    margin: 15px;
    box-sizing: border;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    transition: ease-in-out .5s;
    opacity: .9;
}